[2015-01-09 16:37] boogerlad opened #2 "error: Must contain an `adapter` key referencing the adapter to use. with many to many relationship"
<pre><code>error: In model (item_optiongroups__optiongroup_items), invalid connection :: { connections: { MariaDB: { config: [Object], _adapter: [Object], _collections: [Object] } },
  dictionary:
   { emit: 'MariaDB',
     pkFormat: 'MariaDB',
     syncable: 'MariaDB',
     defaults: 'MariaDB',
     escape: 'MariaDB',
     escapeId: 'MariaDB',
     registerConnection: 'MariaDB',
     teardown: 'M

[2015-01-09 17:28] boogerlad commented on #2
Actually, I have tracked down this error to somewhere here: https://github.com/balderdashy/sails/tree/master/lib/hooks/orm

The question is, are join tables models and should they be reloaded? If join tables are prevented from loading, the problem is solved. If not though, why is the connection object different?

[2015-01-09 17:35] boogerlad commented on #2
I have fixed the issue by commenting out

<pre><code>modelDef.connection = modelDef.adapter;
delete modelDef.adapter;</code></pre>

in `sails/lib/hooks/orm/backwards-compatibility/upgrade-model-definition.js`

I am not sure what the consequence of this is so I will leave the issue open. It should probably be moved to the sails issue tracker rather than this one...

Verbose logging shows this

[cod

[2015-01-23 15:54] JasonMore opened #3 "Support for services?"
Hey I saw in your code that you auto reload controllers, routers, models. What about services? We use those quite a bit in our app. I'd be happy to send a PR for one if you are interested.

[2015-02-07 02:43] sgress454 commented on #3
Hi @JasonMore, sorry, I don't seem to be getting notifications from this repo.  A PR that reloads services would be great!

[2015-02-18 16:34] 0x80 opened #6 "Not compatible with io.js"
I think the problem is nan. 1.5.0 fixes io.js compatibility. You're not using nan directly I see. Chokidar 0.9.0 does. I tried the latest version and it works. So only updating chokidar would do :) I'll make a pull request.

npm install sails-hook-autoreload

[code]

[2015-02-18 16:42] Globegitter commented on #6
See #5

[2015-02-18 16:56] 0x80 commented on #6
Ah I see! Somehow this issue is not listed with I click on the "issues" button... :\

[2015-02-18 17:02] Globegitter commented on #6
Because it is a Pull Request ;) You can see it under 'Pull Requests' on the right.

[2015-02-18 17:03] #2 closed, assigned to nobody

[2015-02-18 18:42] 0x80 commented on #6
Hahaha damn I need a rest! :smile:

[2015-02-25 05:55] kevinob11 commented on #3
Here is a PR

https://github.com/sgress454/sails-hook-autoreload/pull/10

[2015-03-05 23:19] Globegitter opened #13 "Possible an issue with node 0.12"
https://gist.github.com/bsocius/2f721e0b69334b542a91

Will look into this more and update if it actually is an issue with this hook, with chokidar or something else :)
Might also be an issue with the machine being used itself and the number of files being watched:
http://stackoverflow.com/questions/16748737/grunt-watch-error-waiting-fatal-error-watch-enospc

[2015-03-05 23:44] Globegitter commented on #13
Ok turned out to be an environment issue

[2015-03-05 23:44] #13 closed, assigned to nobody

[2015-03-06 04:50] sgress454 commented on #13
That's the kind of issue I like to see!  Keep 'em coming! :smile:

[2015-03-06 09:22] #3 closed, assigned to nobody

[2015-03-06 09:22] #6 closed, assigned to nobody

[2015-03-09 13:03] bostrom opened #14 "Unable to configure the hook"
There's a high risk that I just don't know Sails well enough, but I seem to be unable to configure the hook to include more directories to watch for changes.

I've created the file `[my-sails-proj]/config/autoreload.js` with the following contents:

[code]

But still Sails doesn't seem to be reacting to changes in my `responses` directory. The other two work fine, though.
Am I doing something wron

[2015-03-09 18:11] sgress454 commented on #14
Your expectations may be off--adding a new directory should trigger autoreload when files change in that directory, but it won't necessarily _reload_ those files.  Currently the autoreload hook only supports actually reloading the following components:
- Controllers (including model blueprints)
- Models
- Services

If you add `api/responses` to the watch list, then those three things will be reloa

[2015-03-10 06:32] bostrom commented on #14
Ah, I see. Thanks for the explanation. It might be a good Idea to update the README to include this information. I might throw you a PR later proposing some changes to it.

[2015-03-10 06:32] #14 closed, assigned to nobody

[2015-03-14 00:00] jfexyz opened #16 "Error: Connection is already registered"
I've installed this hook, called `sails lift`, and then when I edit a model, I get this error:

[code]

Any ideas?

[2015-03-14 04:09] sgress454 commented on #16
What adapter are you using?

[2015-03-14 04:54] jfexyz commented on #16
[Sails Rest](https://github.com/zohararad/sails-rest). Not sure where to begin looking, so thanks!

[2015-03-14 04:58] sgress454 commented on #16
Looks like the REST adapter needs a `teardown` method.  See the one in [sails-disk](https://github.com/balderdashy/sails-disk/blob/master/lib/adapter.js#L54) for reference.

[2015-03-15 15:35] tibotiber commented on #16
Hi! That's a nice hook, thank you :).
I got the same problem with sails-postgresql v0.10.8. It seems to have a `teardown` method [already implemented](https://github.com/balderdashy/sails-postgresql/blob/0.10.8/lib/adapter.js#L73).
Any idea? Thanks a lot.

[2015-03-17 12:07] mbury opened #17 "When will be release new version with autoreload services feature?"
I want to ask when will be release new version with autoreload services feature? Descriptions about this feature exist in readme but still it is not release.

[2015-03-19 16:03] sgress454 commented on #17
Ah, sorry about that.  Published now.

[2015-03-19 16:03] #17 closed, assigned to nobody

[2015-03-19 16:04] sgress454 commented on #16
@tibotiber Good to know, I'll take a look.

[2015-03-31 04:55] isuvorov opened #18 "findOne not working"
Something strange..
after autoreload  routes like "GET /model/:id"  throw 404

but:
GET /model
POST /model
PUT /model/:id
DELETE /model/:id

works fine

[2015-04-15 14:34] Globegitter opened #21 "Certain folders actually do not reload"
When I specific my `api/blueprints` or a custom `api/node_modules` folder the hook does trigger when I change a file but actually not register these new files. Only after a server restart the new code works.

Same goes for the configurations.

I suppose for this to work we would need to reload more hooks, right? Any easy way to add that?

[2015-04-15 17:53] sgress454 commented on #21
To be fair, it's [stated  explicitly](https://github.com/sgress454/sails-hook-autoreload#usage) that the only things that reload are controllers, models and services.  Would love to add to that list.  The tricky part is that there's currently no standard "reload" handler for hooks, so they all require finessing to work with a system like this.

[2015-04-16 12:47] Globegitter commented on #18
Yep I am just experiencing the same thing. Here is the verbose logging:
![screen shot 2015-04-16 at 13 46 34](https://cloud.githubusercontent.com/assets/2580254/7181025/17d049b0-e43f-11e4-9435-3269a2c44a39.png)

[2015-04-16 12:50] Globegitter commented on #21
Thanks for clarifying. I thought something along similar lines was the case just got to have it confirmed. Maybe something for me to tackle at some point :)

[2015-04-17 05:06] sgress454 commented on #18
I'm guessing this is an issue with Sails, not the hook (since the hook just calls exposed Sails methods).  Looking into it.

[2015-04-17 05:30] sgress454 commented on #18
Yup https://github.com/balderdashy/sails/commit/cce4ba9e1198504911857f086d90f4d683474a6c

[2015-04-27 18:22] sashasochka opened #22 "Database is dropped when controller is reloaded"
Hi, I have this strange behaviour: when I save an updated controller, the same moment my sails-mongo database is simply dropped... in config/models.js I have `migrate: drop`.

But if the plugin is clever enough to use that setting, I would expect from it calling `config/bootstrap.js` to recreate the db (that's where I setup my database with initial data).

In the end I have to manually restart a s

[2015-04-27 19:00] sgress454 commented on #22
This is a case of the plugin _not_ being clever.  It's restarting the ORM, and the ORM is set to "drop", so it's dropping the DB.  There's actually a [pull request](https://github.com/sgress454/sails-hook-autoreload/pull/19) for adding verbiage about this to the README; the only reason I haven't merged it is because I was hoping I (or better yet, someone else) could just fix the behavior so that o

[2015-04-27 19:00] #18 closed, assigned to nobody

[2015-04-27 19:04] sashasochka commented on #22
Isn't the fix just a line like
`sails.config.models.migrate = 'safe'`
?

[2015-04-27 19:11] sgress454 commented on #22
Could be, you should try it and see, and if it works submit a PR! :)

[2015-04-27 20:59] sashasochka commented on #22
PR is here - https://github.com/sgress454/sails-hook-autoreload/pull/23. I didn't do any serious testing but this fixes the issue for me.

[2015-05-01 22:13] sashasochka commented on #22
Any updates on PR acceptance?

[2015-05-06 04:21] samholmes opened #24 "Does not work"
I installed the module with `npm install --save sails-hook-autoreload` and then I createded a `./config/autoreload.js` file with the contents:

[code]

And I re-lifted the app. Then I saved a model file. Nothing happens.

[2015-05-06 04:24] samholmes commented on #24
Nevermind. It does work, but it doesn't show any indication that it reloaded. It would be nice if it worked a little more like nodemon where it tells me when it restarts. Also, it would be nice if when my app crashed I can fix the error and then it restarts the app again (like nodemon).

[2015-05-06 04:24] #24 closed, assigned to nobody

[2015-05-06 04:27] samholmes opened #25 "Should this be disabled in production, and if so then how?"

[2015-05-06 04:34] samholmes opened #26 "App crash breaks autoreload"
When the app crashes (from a syntax error for example), the autoreload functionality doesn't work when I fix the error.

This might be out of the scope of the project, but I can't realistically write code without accidentally writing a syntax error. The purpose of this module should be to speed up development, or am I wrong? The distraction of needing to remember that if the app crashes it will ne

[2015-05-06 05:58] sgress454 commented on #26
You're right, this is out of scope for this project.  It's not meant to replace something like [forever](https://github.com/foreverjs/forever); in fact the two can be used in conjunction if you want.  But you might get more bang for your buck by using a plugin for your code editor that does [syntax checking on the fly](http://www.sublimelinter.com/en/latest/).

[2015-05-06 05:58] #26 closed, assigned to nobody

[2015-05-06 06:01] sgress454 commented on #25
It won't matter much unless you plan on editing files live in your production environment, but sure, no reason to keep it running.  That's what the `active` [config parameter](https://github.com/sgress454/sails-hook-autoreload#configuration) is for.  So in your `config/env/production.js`:

[code]

[2015-05-06 06:01] #25 closed, assigned to nobody

[2015-05-06 06:03] sgress454 commented on #22
See [my comment on the PR](https://github.com/sgress454/sails-hook-autoreload/pull/23#issuecomment-99334066).  It fixes your issue, but also basically turns off all model reloading.  I think what you're probably after is `migrate: alter`.

[2015-05-15 21:10] dustinbolton commented on #22
Using "migrate: alter" I still experience this issue I believe.  The database tables are not dropped normally when stopping/starting sails.  I am trying safe mode now to see if this addresses the issue.

[2015-05-15 21:59] sashasochka commented on #22
What do you think about just re-bootstrapping the app with the code in config/bootstrap.js? That would simulate complete app restart

[2015-05-31 21:33] gordroid commented on #16
Yeah, awesome hook, really useful!
Same here, with sails-redis 0.10.3 ;D teardown is implemented as well.
I'll take a look what's going on, and send a PR if i can fix the issue.
Thanks!

[2015-06-04 10:40] firebull opened #28 "Sails crash if Many-to-Many associations present"
Strange issue with MySQL adapter, sails-hook-autoreload and Many-to-Many associations.

**Model Boys.js**

[code]

**Model Girls.js**

[code]

So after `sails lift` everything works fine. But when save any changes to any monitored by _sails-hook-autoreload_ I got an exception and crush:

[code]

After new start everything works. I reproduced this error on new and clean Sails installation. There is

[2015-06-04 14:05] firebull commented on #28
Issue is fixed in Waterline.

[2015-06-04 14:05] #28 closed, assigned to nobody

[2015-06-05 11:47] Oldwo1f opened #29 "I want to help / feature enhencement"
Hi Sgress

I figured out a way to get the whole application reloaded and multiple tab browser also.

For this i use grunt task with some modules installed globally
- browser-sync    (_gloably installed_)
- nodemon    (_globaly installed_)
- grunt-browser-sync
- grunt-nodemon
- grunt-concurrent

I would like to share it with sails community by the way of an hook, and i found this module that autore

[2015-06-05 19:34] sgress454 commented on #29
Hi @Oldwo1f--you're right, this hook is purely for reloading the backend, and doesn't handle any front-end tasks.  Your Grunt task sounds great--sounds like the best thing to do would probably be to develop it as a Grunt plugin that could then be easily added to the default task (in `/tasks/register/default.js`) when that functionality was needed.  I agree it would be cool if there was a way to in

[2015-06-05 19:34] #29 closed, assigned to nobody

[2015-06-05 19:42] sgress454 commented on #22
@dustinbolton `migrate: alter` works by caching all your data, dropping all tables, recreating them and then adding the data back.  So it should do what you need.

@sochka Re-running `config/bootstrap.js` is partially what this hook is trying to avoid.  We could just lower/re-lift Sails to accomplish all of these tasks, but the process is not always a quick one--it may involve making remote connec

[2015-06-05 19:42] #21 closed, assigned to nobody

[2015-06-05 20:55] Oldwo1f commented on #29
Okey, i ll take a look on how to build grunt-plugin.

Btw, you closed my sails issue before it was resolve. can you please reopen
it. (https://github.com/balderdashy/sails/issues/2947#issuecomment-107288237
)

2015-06-05 21:34 GMT+02:00 sgress454 notifications@github.com:

[2015-06-05 22:38] sgress454 commented on #29
I closed the other issue because I couldn't re-create it.  But I'll take another look.

[2015-06-30 16:02] thomasfr commented on #16
same error here with sails 0.11 and these adapters:

[code]

[code]

[2015-07-09 19:48] Vadorequest opened #30 "Stronger filter for files"
In the `config.autoreload`, it would be great to have more options, like filters.

[code]

For instance, I'm using TypeScript, and the app restart when I change a .ts file, I don't want that.

So, I think this great plugin needs a better filter. :)

[2015-07-10 19:19] sgress454 commented on #30
I think it already supports globs, because [Chokidar supports globs](https://github.com/paulmillr/chokidar#api).  Probably could use the [ignored](https://github.com/paulmillr/chokidar#path-filtering) setting to ignore folders in a separate `ignore` array, too.  If you try it out and make a PR, I'll merge it in.

[2015-07-22 11:48] ronenteva commented on #16
Same here with sails-redis

[2015-07-29 16:10] ali-pourzahmatkesh commented on #16
same with sails-mysql !

[2015-07-29 17:49] sgress454 commented on #16
I can't recreate this on sails v0.11.x with sails-mysql, sails-postgresql or sails-mongo.  Tried it with a new app with a User model and controller.  Seems like something else is contributing to the issue--does anyone on this thread have a public project I can clone to try and get to the bottom of it?

[2015-07-29 17:57] #30 closed, assigned to nobody

[2015-07-29 18:10] sgress454 commented on #22
Fixed by https://github.com/sgress454/sails-hook-autoreload/pull/27

[2015-07-29 18:10] #22 closed, assigned to nobody

[2015-08-06 01:48] dapriett opened #34 "ORM Foreign Keys removed from schema on reload"
It looks like on reloads all the foreign key definitions get removed from the orm model's schema.  I'm using MongoDB - without the schema foreign keys defined the object ids don't get converted correctly in the sails-mongo adapter (https://github.com/balderdashy/sails-mongo/blob/master/lib/utils.js#L56).

I've tried to debug through the reload to see what the issue is, but haven't seen it yet.  It

[2015-08-06 02:02] dapriett commented on #34
Nevermind - it looks like it's not all foreign keys.  I'm using sails-permissions and they add two foreign keys `createdBy` and `owner`: https://github.com/tjwebb/sails-permissions/blob/master/api/hooks/sails-permissions.js#L107

I'm guessing it's a bug on their side, not correctly handling the orm:reload.

[2015-08-06 02:14] dapriett commented on #34
Ok, just realized my sails-permission hook was outdated and they do handle it correctly in their latest version.  It's all good now!

[2015-08-06 02:14] #34 closed, assigned to nobody

[2015-08-07 05:14] werebeaver opened #35 "autoreload views?"
Hi, Sgress!

Is it possible with "sails-hook-autoreload" track changes in the templates (views) and clean the cache of templates (views) if it has been changed?
I am using EJS templates.

[2015-08-14 16:03] justinanastos opened #36 "Potential Conflict with sails-hook-babel"
This issue is more of a question than issue.

I am trying to use [sails-hook-babel](https://www.npmjs.com/package/sails-hook-babel) and sails-hook-autoreload.

The autoreload feature works as expected, refreshing whenever the controllers and/or models change. Unfortunately, after a refresh, I have to save one more time and have it reload again before the changes are picked up. I don't even know wh

[2015-08-22 19:27] tcury opened #37 "Hability to reload config/locales"
Can you add the feature to reload config/locales files? It's not so good restart app server when these files get changed.

[2015-08-30 05:26] ronenteva opened #38 "Track policy changes"
If possible, tracking and loading changes in the "api/policies" folder will be very useful.

[2015-09-04 16:31] sgress454 commented on #37
It's only realistic to reload things on a hook-by-hook basis.  So we might be able do something with the i18n hook to reload when locales change, but config in general is a different story.  Sails configuration is stored in files whose names follow a convention, but they're not tied to those names--you could rename your `config/session.js` file `config/foo.js` and it would work just as well, and i

[2015-09-04 16:36] sgress454 commented on #38
Agreed.  PRs welcome, otherwise I'll take a look when I can.

[2015-09-05 01:04] tcury commented on #37
I mean just the locales. When I wrote config/locales the config means just the path. Btw, thanks for the response. Would be nice reload when locales change. Thanks again!

[2015-09-06 10:38] dottodot opened #39 "Breaks crsf token request"
After changing something in a controller and it's autoreloaded and I then make a request to get a crsf token the response is empty and I have to restart the app for it to start working again.

[2015-09-11 21:13] tcury commented on #37
Submitted PR #40

[2015-09-11 21:13] #37 closed

[2015-09-15 21:04] element4git commented on #16
Try sails-redis

It works well for the other connections.

[2015-10-05 01:25] moisesrodriguez opened #41 "AdapterError after updating"
sails-hook-autoreload is crashing every time after I make an update

[code]

I'm using Node 4.1.1, Sails 11.2, sails-hook-autoreload 0.12.0

[2015-10-06 22:35] moisesrodriguez commented on #41
Very weird how sails-hook-autoreload is working. I noticed that if I change a tab in Atom editor, it will reload (but not crash). I changed to Visual Studio Code and I don't get the weird auto-reload when changing tabs. Still crashing after changing a file. The errors keep changing, here is a couple

[code]

[code]

[2015-10-11 07:19] lvsenlin opened #42 "If have many models and much data will didn't work?"
My project hava many models(15-20) and much data(1000+),wait for a very long time,bu it's not work.
If drop models only leave one or empty database,it's ok.
Why?

[2015-11-02 17:48] juanpasolano opened #44 "Waterline encountered a fatal error when trying to perform the `alter` auto-migration strategy."
Every time I change something in a controller and the hooks restarts the ORM I get this error.
The thing i don't get is why is trying to migrate if I have `migrate: 'safe'` in my `config/models.js`

[code]

sails v.11

[2015-11-02 17:53] juanpasolano commented on #44
I see this PR and it kind of makes sense, right?
https://github.com/sgress454/sails-hook-autoreload/pull/43

[2015-11-03 08:48] KirillSuhodolov commented on #16
@element4git @sgress454 sails-postgresql - fixed, but sails-redis breaks

[2015-11-03 09:23] akmoulai commented on #44
I have the same issue. I think our issue won't be fixed by #43 as it sets migrate to `alter` by default.

I'd suggest to guard L70 with something like:

[code]

Users with a `migrate: 'safe'` strategy would not be impacted.

[2015-11-03 16:26] juanpasolano commented on #44
Yes I agree. It should depend on `sails.config.models.migrate` configuration.

[2015-11-23 10:49] westito commented on #44
+1

[2015-11-26 00:48] tommykennedy commented on #44
+1

[2015-11-30 03:55] dzuluaga opened #45 "Controllers didn't reload"
Thanks for the hook. I've just tried it, but when I make a change to an existing controller, it logs a message as: `verbose: Detected API change -- reloading controllers / models...`, however new changes aren't applied e.g. adding or removing a `console.log` statement. Am I missing anything?

Thanks,
Diego

[2015-12-01 07:37] marcopeg opened #46 "forces migration alter mode"
I noticed that this hook enforces a `migration:alter` configuration which conflicts if you are playing with db migrations in dev environment.

I suggest to keep the configuration value that the developer defines in the `config/models.js`config file.

for the rest, great job!

[2015-12-26 16:50] noahsw commented on #45
Same thing happens for me with services. I see the reload messages but the new code is definitely not there.

[code]

[2016-01-13 00:39] risenhoover commented on #46
Unfortunately, this behavior cost us two days of headache when our production database got wiped out from a failed attempt to migrate the schema.

[2016-01-15 18:16] federicobozzini opened #50 "Error on mapping custom foreign keys"
I installed sails-hook-autoreload.

On sails lift everything works, but as soon as I edit a file I got this error

[code]

even if I have not edited the files where the error should be.

I guess something is wrong with the hook.

[2016-01-18 21:11] pie6k opened #51 "Fatal error on any update"
Hi, I'm getting error on every update of file.

I'll try tu supply every detail I can, if you need more, just tell me what.

Error I get:

[code]

I've checked those 'tuples' at top on error stack and it's array of 3 nulls.

This is my package.js deps

[code]

My sails version is `0.11.3`.

[2016-01-20 18:17] misterGF commented on #44
+1

[2016-01-21 16:36] sgress454 commented on #39
Thanks for posting, @dottodot.  I'm unable to reproduce this locally, so I'll need more information:
- Node/NPM version
- Sails version
- Database adapter used
- Session adapter used (if any)

Also, if you can post a link to a repo that would allow me to reproduce the problem, that would help.

[2016-01-21 16:39] sgress454 commented on #35
@werebeaver Simply refreshing the page should bring in any .ejs template changes in a Sails app.  You can try it with a new app by changing the `homepage.ejs` file and refreshing.

[2016-01-21 16:39] #35 closed, assigned to nobody

[2016-01-21 17:03] dottodot commented on #39
Going to close it as I don't seem to have the issue anymore and can't remember if I found the cause or not.

[2016-01-21 17:03] #39 closed, assigned to nobody

[2016-01-21 17:04] sgress454 commented on #51
Hi @adampietrasiak, thanks for using sails-hook-autoreload.  I can't recreate this issue locally ("fatal error on any update" would be kind of a showstopper!).  If you could provide a link to a repo that would help reproduce the problem, that would be ideal.  I'd also like to know your Node/NPM version and operating system.

[2016-01-21 17:06] sgress454 commented on #50
Hi @iit-federico-bozzini, thanks for trying the hook.  I'm afraid this post doesn't quite give me enough information to diagnose any problem.  If you have a link to a repo that I could use to reproduce the issue, that would be very helpful.  I'd also like to know:
- Operating system
- Node/NPM version
- Sails version
- Database adapter
- Session adapter (if any)

[2016-01-21 17:10] sgress454 commented on #45
@dzuluaga @noahsw Thanks for trying the hook.  I can't reproduce this issue, so it would be helpful to have more info.  First off, if you could try it with an empty Sails app (`sails new testapp`), just to get a baseline and check that it works on your system at all.  Assuming it does, I'd ideally like to have a link to a repo that I could use to reproduce the problem, along with your:
- Operating

[2016-01-21 18:29] sgress454 commented on #46
@marcopeg Thanks for posting.  I just published v0.13.0 which has the `overrideMigrateSetting` config option, which you can set to `false` to use your app's migrate setting instead of having the hook override it.  The default is `true` to keep backwards-compatibility, so you'll want to set it to `false` in your apps.

@risenhoover Sorry to hear about your production data!  I should have made it cl

[2016-01-21 18:29] #46 closed, assigned to nobody

[2016-01-21 18:32] sgress454 commented on #42
This hook defaults to using `migrate: alter`, which is going to take awhile since it drops/recreates your databases and data every time.  The newly published version has an `overrideMigrateSetting` config option that you can set to `false`, and then you can set your app's `migrate` setting in (config/models.js) to `safe` which will speed things way up.  The downside is that changes to model files

[2016-01-21 18:32] #42 closed, assigned to nobody

[2016-01-21 20:08] sgress454 commented on #44
Thanks for the feedback everyone.  Just published v0.13.0 which includes the `overrideMigrateSetting`.  Set it to `false` to use your app's migrate setting instead of having the hook override it to `alter`.

[2016-01-21 20:08] #44 closed, assigned to nobody

[2016-01-21 20:10] sgress454 commented on #41
@moisesrodriguez Are you connecting to a remote database?  Can you share your Sails connection config (without the password of course)?

[2016-01-21 20:17] sgress454 commented on #36
Thanks for posting @justinanastos.  I'm sort of surprised this works at all, since `sails-hook-babel` only claims to work on lift, and `sails-hook-autoreload` doesn't reload other hooks.  I'm afraid without spending significant time on it, I wouldn't have much of an idea of where to start either.  You might be better of in this case using something like `forever -w` to stop/start Sails on changes.

[2016-01-21 20:17] #36 closed, assigned to nobody

[2016-01-21 20:35] moisesrodriguez commented on #41
@sgress454 I stopped using this hook after those errors. I don't remember if when I had those errors if I was connecting to a remote database, but probably was because once in a while I do connect to my remote database.

my config for the remote database looks like this

[code]

I can try again this hook see if the problems persist, but I do remember it was very annoying that when in my text edito

[2016-01-23 11:53] samundrak opened #52 "unhandled error event"
![image](https://cloud.githubusercontent.com/assets/3079452/12530034/354f9d6e-c1f8-11e5-9648-bc9fa56ad80c.png)

I am facing this problem , i just installed this module and added autoreload file in config as u mentioned in example ?

[2016-01-27 14:22] lvsenlin commented on #42
thank you

[2016-01-27 20:05] semy commented on #41
same error, i will kick the hook, can't work :-(

[2016-02-04 15:08] sgress454 commented on #52
Hi @samundrak.  See http://stackoverflow.com/questions/22475849/node-js-error-enospc for more info on the ENOSPC error.

[2016-02-04 15:08] #52 closed, assigned to nobody

[2016-02-04 15:15] sgress454 commented on #51
It looks like this is a general Sails issue that may be fixed by just wiping your `node_modules` and doing an `npm install` (https://github.com/balderdashy/sails/issues/3537).

[2016-02-09 11:10] dottodot opened #53 "Error on sails v0.12.0"
Getting the following error after updating to sails 0.12.0

[2016-02-09 11:41] jesperborgstrup commented on #53
Confirmed. To expand a bit, using Sails 0.12.0 and sails-hook-autoreload 0.11.5, the following error and stack trace are printed out:

[code]

[2016-02-09 11:52] jesperborgstrup commented on #53
The following commit in Sails has removed the `loadAndRegisterControllers` function from the `controllers` hook object, and moved it into a separate file:
https://github.com/balderdashy/sails/commit/65346fd2aca19c19a186d12824f441f7102378f3

[2016-02-11 05:13] justerhan commented on #53
@jesperborgstrup Guessing you can just change loadAndRegisterControllers(...) to initialize(...) in the line of code specified at the top of the stack.

[2016-02-11 06:09] sgress454 commented on #53
@dottodot @jesperborgstrup Thanks for pointing this out.  When I first put this hook together it was more of a demonstration of the new API for extending Sails, so I didn't give much thought to the fact that I was using a method that was clearly marked `@private`.  I'll patch this up and put out a new minor release, but beware if you are trying to use that method in your own projects, for whatever

[2016-02-11 06:49] sgress454 commented on #53
Actually I misspoke--there's nothing to be done in the hook itself, but we'll be putting out a patch release of Sails that will get this working again as-is until we introduce a public `.reload()` method for the controllers hook.

[2016-02-17 09:58] sumon444 commented on #53
I'm having the same issue on sails v0.12.0. any undate on this?

[2016-02-17 14:53] jesperborgstrup commented on #53
It looks like the `loadAndRegisterControllers` have been re-exposed for now (see commit https://github.com/balderdashy/sails/commit/0ba78296047874debd33ce62588e97c371b7138c in `master` branch).
Update to Sails v.0.12.1 to (re)use this feature.

**EDIT:** After updating to Sails v0.12.1, this is not an issue anymore.

**NOTE:** The commit message to the above commit in Sails is

[2016-02-18 10:35] davemackintosh commented on #16
This is still an issue with `sails-memory`, will look to PR if the `teardown` isn't implemented as it's messing with some tests of mine.

[2016-02-18 18:05] sgress454 commented on #53
Right on--sorry for forgetting to post in here.  We've re-exposed the private API method for now as of Sails v0.12.1, as we ponder the `.reload()` API for Sails hooks in general.  So as of v0.12.1 this should be good to go!

[2016-02-18 18:05] #53 closed, assigned to nobody

[2016-02-19 09:02] Fr33maan opened #54 "Be able to set i18n reload optional in config"
Hi,

I'm using the module since the first time I lifted a sails app and I love it !

Yesterday I started to use an awesome yeoman scaffold for sails called [sails-rest-api](https://github.com/ghaiklor/generator-sails-rest-api).

They decided to remove internationalization and it creates a conflict with sails-hook-autoreload.

To solve my problem, I just commented the line 109 on the index.js in my

[2016-02-27 01:49] dv336699 opened #55 "default on every project"
Is there a way to have this setup by default every time we use `sails new`?
thanks

[2016-03-03 16:24] #55 closed, assigned to nobody

[2016-03-03 16:34] dv336699 commented on #44
I think it's too dangerous to have set this set as true by default?
It took me a bit to find this issue as to why my app was breaking even after setting to "safe" in my sails.config.models.migrate - using sails-mysql

[code]

[2016-03-04 05:25] basilinjoe opened #57 "Fails on updating the code"
/home/xcz/sails/facebook-auth/node_modules/sails-hook-autoreload/index.js:103
        sails.hooks.controllers.loadAndRegisterControllers(function() {
                                ^
TypeError: Object #<Hook> has no method 'loadAndRegisterControllers'
    at FSWatcher.<anonymous> (/home/xcz/sails/facebook-auth/node_modules/sails-hook-autoreload/index.js:103:33)
    at complete (/home/xcz/.npm-glo

[2016-03-04 05:48] sgress454 commented on #57
You need to install Sails v0.12.1.  See https://github.com/sgress454/sails-hook-autoreload/issues/53.

[2016-03-04 05:48] #57 closed, assigned to nobody

[2016-03-14 11:01] t-wee commented on #41
+1

[2016-03-15 04:43] no7dw commented on #45
same happen here, add /remove console.log in controller ,didn't work. but did detected:
verbose: Grunt :: >> File "api/controllers/UserController.js" changed.
verbose: Grunt :: Completed in 0.001s at Tue Mar 15 2016 12:36:40 GMT+0800 (CST) - Waiting...

env:
os: osx 10.11.3
node 0.10.35
sails: 0.11.0
orm: sails-mongo 0.10.x

[2016-03-15 05:53] no7dw commented on #45
when I start a new testapp, work fine:

[code]

---last line change

do some experiment:

turn out that the reason why can not reload, which written in README.md
sails modules version must >= 0.11.0
i use sails version 0.11.0, and had use sails node_modules also 0.11.0, which i use sails in 0.10.6 in node_modules

[2016-03-17 11:54] ghost opened #58 "Querying a newly created database requires restart."
I am creating databases dynamically and once I create a new one and try adding data to it, error occurs that.

[code]

This is my code

[code]

I am using file system to append the connection string. So i think the Connection.js file is not getting reloaded. Please look into it.

[2016-03-17 22:13] fjafferi commented on #44
+1

[2016-03-17 22:29] sgress454 commented on #44
Only as dangerous as not reading the README, which make it very clear that a) this hook is not intended for use in production (so there should no danger of losing important data) and b) that the migrate strategy is set to `alter` by default.  For the kind of development for which this hook is intended, using `migrate: safe` is sort of pointless: your changes wouldn't actually be reloaded.

[2016-03-17 22:30] sgress454 commented on #58
You're right, connections are not reloaded.  It's not part of the feature set.  Feel free to make a PR if this is a contribution you feel you could make!

[2016-03-17 22:30] #58 closed, assigned to nobody

[2016-03-17 22:31] #54 closed, assigned to nobody

[2016-03-17 22:31] sgress454 commented on #51
Closing due to inactivity.

[2016-03-17 22:31] #51 closed, assigned to nobody

[2016-03-17 22:32] sgress454 commented on #50
Closing due to inactivity.  Let me know if there's any more info.

[2016-03-17 22:32] #50 closed, assigned to nobody

[2016-03-17 22:33] sgress454 commented on #45
Thanks @no7dw -- yup, always important to make sure Sails is at the version you think it is!

[2016-03-17 22:33] #45 closed, assigned to nobody

[2016-03-17 22:38] sgress454 commented on #41
Sorry all, there's not really much to go on here.  This hook is intended to ease development in basic environments; it's impossible to provide support for every remote database out there (and I would argue that developing against a remote database is a bad idea anyway--makes debugging kind of opaque).  If the database reload is giving you trouble, try setting `sails.config.migrate` to `"safe"` in

[2016-03-17 22:38] #41 closed, assigned to nobody

[2016-03-19 19:40] jmo-001 opened #59 "overrideMigrateSetting should not default to true"
The default value for this is very presumptuous. It caused major issues in a project I was working on recently.

[2016-03-22 13:28] sgress454 commented on #59
I'm sorry to hear that the plugin caused major issues!  I would argue that the biggest presumption that's being made is that folks would [read the usage instructions](https://github.com/sgress454/sails-hook-autoreload#usage), and that they wouldn't be using this in a production environment.  I'm not being sarcastic; I should know better.  I would _not_ presume that you should know about all of the

[2016-03-22 13:28] #59 closed, assigned to nobody

[2016-04-05 11:43] Fr33maan commented on #54
It already has been released on npm ? I just installed the module on a new project and still have the error.

[2016-04-09 16:02] nehalist opened #60 "Failed to reload ORM hook"
Packages:

[code]

Sails version v0.12.3.

Guess it has something to do with sails permissions, sails auth or marlinspike (everything worked fine before they were installed).

[2016-04-29 00:37] Oldwo1f commented on #16
I got the same problem with `sails-elasticsearch`.

It seams to have the teardown method implemented but i still go this error

[2016-05-02 14:03] pekpon commented on #60
Same problem here. Any solution? Thanks!

[2016-05-05 03:45] mehdi-olii opened #62 "npm install sails-hook-autoreload fails"
[code]

npm version 3.6.0
osx 10.11.4
sails version 0.12.3

[2016-05-05 14:12] sgress454 commented on #62
@mehdi-olii I can't reproduce this.  Try wiping your `node_modules` folder completely, then running `npm cache clean` and `npm install`.

[2016-05-05 14:15] sgress454 commented on #60
@nehalist @pekpon Could one of of you create a repo that demonstrates the problem?  I think that'd be the easiest way to see what's going on.

e.g.:

[code]

Thanks man!

[2016-05-05 14:31] pekpon commented on #60
@sgress454 thanks for your reply!

I finally make it work reinstalling sails-hook and sails-mongo

Thanks!

[2016-05-05 14:39] nehalist commented on #60
@sgress454 here you go; https://github.com/nehalist/sails-hook-autoreload-issue-60

Fresh install. Problem seems to have nothing to do with sails-permissions, but with sails-auth. After installing sails-auth autoreload fails with the error mentioned in the entry post.

e/ Wrong mention, whoops...

[2016-05-05 14:45] sgress454 commented on #60
Thanks @pekpon.  It's very possible that these two hooks are just incompatible, but I will take a look.

[2016-05-10 19:37] RyanParsley commented on #60
I do not have sails-auth or sails-permissions installed and I saw the same error. I had the swagger plugin that depended on marlinspike. Once I removed that plugin, my problems went away.

[2016-06-28 13:27] disciple-dev commented on #54
@sgress454 If you find a moment to publish the latest changes on npm, I'd be eternally grateful.

[2016-06-28 14:53] sgress454 commented on #54
Done!

[2016-07-19 10:38] miraage commented on #60
Problem still exists.

[2016-07-24 14:16] slavafomin commented on #60
I have this problem also. Looks like this plugin makes development database extremely unstable, sometimes some rows are just dropped, sometimes the entire `passport` database table is dropped and it's all when `migrate: safe` config option is set. I'm removing this module for now.

[2016-08-13 18:24] #62 closed, assigned to nobody

[2016-08-23 01:29] outofthisworld opened #63 "Error mapping custom foreign keys"
Getting this issue when trying to create a one to many relationship, not sure if I'm doing something wrong or what is going on..

DB: local-disk db
OS: mac OS X El Capitan v 10.11.3

Error: on mapping custom foreign keys: sytemnotifications->systemnotificationuser.

[code]

[code]

Tried deleting the notificationUsers collection on SystemNotifications.js but got another error:
error: Error: on map

[2016-08-23 08:50] Bamieh opened #64 "Changing Services does not work"
Whenever i change a service, i get the following on my console

[code]

however reloading the page doesnt reflect the changes i made on my services. I have the following configurations

[code]

i added `'api/services/**/*'` just in case `'api/services` doesnt work by itself, but i dont think it matters because autoreload works, it just doesnt reflect the changes. i tried toggling the settings betw

[2016-08-24 12:33] giovannibenussi commented on #60
Same problem

[2016-08-25 22:21] fourthdimension commented on #60
Same here.

[2016-09-05 14:15] Fr33maan opened #65 "Reload policies"
Hello,

During developement if you change policies, they arn't reloaded by the hook, do you think it would be possible to reload them ?

Thanks for your work

[2016-09-06 15:28] liratanak commented on #60
I also got this error.

[2016-09-06 15:44] fsin commented on #60
Sehr geehrte Damen und Herren,

ich werde ab 07.09.2015 wieder im Büro sein,
Ihre Nachricht wird nicht automatisch weitergeleitet. Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

Bitte kontaktieren Sie in dringenden Fällen Herrn Dr. Stefan Landshamer (sl@pharmit.de).

Mit freundlichen Grüßen,
Florian Schindler

[2016-10-14 08:34] CiscoKidxx commented on #65
Also curious about this

[2016-10-14 08:35] CiscoKidxx commented on #38
Tracking changes in a lot of the config files would be useful. I'll work on a PR tomorrow. This functionality should optionally be in sails core imho.

[2016-10-14 09:44] CiscoKidxx commented on #65
It can't be as simple as sails.emit("hook:policies:reload"); in the index.js file can it?

[2016-10-20 14:18] ghost commented on #60
I had this problem when updating my orm hook connection name, after the model has already been setted up.
Setting the new connection name in
`config/env/development.js` , `config/models.js` and `config/connection.js` fixed that for me

[2016-11-11 00:26] clayrisser commented on #60
I'm experiencing this same problem.

[2016-11-12 20:55] JonathanItakpe commented on #60
create an autoreload.js file in you config folder with the following content:
`module.exports.autoreload = {
  active: true,
  overrideMigrateSetting: false,
  usePolling: false,
  dirs: [
    "api/models",
    "api/controllers",
    "api/services",
    "config/locales"
  ],
  ignored: [
    // Ignore all files with .ts extension
    "**.ts"
  ]
};`

Make sure you set migrate to safe in models.js

[2016-11-12 21:28] clayrisser commented on #60
I did both of those things, and it didn't work.

[2016-11-28 07:17] ehsunshahid commented on #50
hi i am having the same issue, i am attaching my models too
error: A hook (`orm`) failed to load!
error: Error: on mapping custom foreign keys: pets->pets. Attribute: `owner` does not exist on: collection: `pets`

this is the error i am getting, please help

`/**
 * User.js
 *
 * @description :: TODO: You might write a short summary of how this model works and what it represents here.
 * @docs

[2016-12-09 10:17] boyfinal opened #67 "how autoreload only one file in folder?"

[2016-12-14 21:43] Fr33maan commented on #65
Did you gave it a try ?

[2016-12-14 21:44] Fr33maan commented on #65
Reload responses would also be nice as I'm currently changing default responses to make easy server side rendering.

[2017-01-03 09:26] derakhshanfar opened #68 "disable hook orm and blueprint"

[2017-01-09 11:48] antwal commented on #60
Hi,

i have same problem when try edit config/locales/; i have tryed with autoreload.js and with watch.js but i receive always same error:

Details: Error: Consistency violation: Instantiated Waterline model already has a `datastore` property.

Thanks.

[2017-01-23 20:52] murbanowicz opened #69 "Log in console that Reload has been performed"
The information that reload has been performed is missing.
Would be great to see e.g. 'Reloaded at [time]'

[2017-01-26 17:29] Fr33maan commented on #65
@sgress454 any clue on how to reload policies ?

[2017-01-28 17:15] murbanowicz commented on #60
The same issue here. Sails lifting up properly, but reload not working

[2017-02-09 21:33] inicio commented on #60
Ditto. Same issue.

[2017-02-16 07:02] arjun-kava commented on #60
same issue

[2017-02-16 14:59] sgress454 commented on #60
Hi all, sorry for letting this one go for so long.  While I see that this issue is affecting a number of people, just posting "same issue" isn't really helpful since the only repros I've seen so far involve the installation of other plugins that just might not be compatible with sails-hook-autoreload.

I try to make this clear in the README, but this tool is intended for rapid-prototyping of early

[2017-03-08 12:51] HaiderMalik12 commented on #60
Same issue here

[2017-03-08 12:51] HaiderMalik12 commented on #60
I always get this error.
error: A hook (`orm`) failed to load!
error: Error (E_UNKNOWN) :: Encountered an unexpected error

[2017-03-08 13:43] murbanowicz commented on #60
same here

2017-03-08 12:51 GMT+00:00 Haider <notifications@github.com>:

[2017-03-08 14:15] HaiderMalik12 commented on #60
Why sails team did you fix this issue ?

[2017-03-08 16:04] HaiderMalik12 commented on #41
Same error here

[2017-03-08 16:51] sgress454 commented on #60
@HaiderMalik12 @murbanowicz please read my comment above, and provide an actual repo that reproduces the problem without having an incompatible package installed so we can troubleshoot.  I've provided a sample list of incompatible packages in the README.

[2017-03-13 21:31] sgress454 commented on #69
@murbanowicz You can get this by putting Sails in "verbose" mode: `sails lift --verbose`

[2017-03-13 21:31] #69 closed, assigned to nobody

[2017-03-13 21:32] sgress454 commented on #68
Hi @derakhshanfar, not sure if this was a feature request or a bug report or what, but I'm going to go ahead and close it.  Please open a new issue with more info if you're still interested in this.

[2017-03-13 21:32] #68 closed, assigned to nobody

[2017-03-13 21:34] sgress454 commented on #67
Hi @boyfinal, the autoreload hook will reload every file in the folders it's watching, that's just how it works.  You can have it only _watch_ for changes in a single file by changing the [`dirs` configuration](https://github.com/sgress454/sails-hook-autoreload#configuration), but when that one file changes, it'll still reload _everything_.

[2017-03-13 21:34] #67 closed, assigned to nobody

[2017-03-17 23:33] fortil opened #70 "sails.reloadActions is not a function"
Hi guys

I have a problem, when auto-reload detect a change the server broken. these is the message.
[code]
What can I do?
Thanks

[2017-03-18 03:40] arvinddhasmana commented on #70
I am facing the same issue.

[2017-03-20 08:20] anyIris commented on #70
+1

[2017-03-20 22:33] sgress454 commented on #70
The newest version of the hook is only compatible with Sails v1.0.  To install the hook for Sails v0.12.x, do `npm install sails-hook-autoreload@for-sails-0.12`.  Sorry about that, I'll go ahead and update the README.

[2017-03-20 22:33] #70 closed, assigned to nobody

[2017-03-21 13:50] fortil commented on #70
Thanks

But now, I have the next problem
[code]

I think so this problem is for lodash, but, what have I to do?

Edited:

I agree:
[code]
In index.js file..

[2017-03-21 14:39] sgress454 commented on #70
Ah, thanks @fortil.  It looks like I didn't add Lodash as a dependency -- the hook should still work if you have global Lodash enabled in your Sails app (i.e. in `config/globals.js`), but as of sails-hook-autoreload@0.14.1 (just published) it should work with globals turned off as well.

[2017-05-12 15:19] vitkorbut opened #72 "'sails console' ignores 'migrate:safe' config and drops db tables on autoreload."

[2017-05-12 15:22] sgress454 commented on #72
@korbutvitaliy have you read the [usage section](https://github.com/sgress454/sails-hook-autoreload#usage) which describes how migrations work with autoreload?

[2017-05-12 15:34] vitkorbut commented on #72
Right.
module.exports.autoreload = {
  overrideMigrateSetting: false,

[2017-05-12 15:34] #72 closed, assigned to nobody

[2017-06-10 22:57] greggreenhaw opened #73 "reload fails"
Running sails lift works fine, however if I save a change and rerun an api request I get this error:

TypeError: Model.findOne is not a function
    at Object.findOneRecord (node_modules/sails/lib/hooks/blueprints/actions/findOne.js:35:4)
    at node_modules/sails/lib/router/bind.js:218:42
    at routeTargetFnWrapper (node_modules/sails/lib/router/bind.js:350:9)
    at Layer.handle [as handle_requ

[2017-06-13 05:51] tylercollier commented on #65
I couldn't figure out how to reload the policies. I tried `sails.emit("hook:policies:reload");`, no go.

I even modified the source code from sails-hook-autoload, adding things like this in the `sails.hooks.controllers.loadAndRegisterControllers()` section:

[code]

No dice. :-(

[2017-06-17 10:43] megakoresh opened #74 "[Critical bug]This hook completely breaks the app if you have more than 1 datastore in sails v1/waterline v0.13"
I have 2 datastores - default is MariaDb and the other is mongo, used for one model (set in model file). When autoreload happens, it completely breaks any further database interactions with the following error:
[code]
Any database interactions are afterwards broken until application is restarted.
To repro

1. Make 2 datastores - 1 mongo and 1 mysql
2. Set mysql as default
3. Set mongo one for some

[2017-08-03 06:51] jhereu commented on #65
I just started using this hook and had the very same problem: "how can I reload config files other than policies.js?".

The thing is that whatever you put on `config/autoreload.js` inside a `module.exports.autoreload` key (as documentation says) does not make the trick. It turns out that, *by default, the export has to be named `module.exports['sails-hook-autoreload']`* instead, as `this.configKey

[2017-08-30 08:59] murbanowicz opened #75 "How to make it work with TypeScript?"
How to configure sails + typescript + autoreload ?

[2017-08-31 10:55] Fr33maan opened #76 "Release to npm"
The version on npm is not the one for sails 1.0.
It still checks for sails.hooks.controllers to be true while this condition has been swiped out from the new version.
It makes the hook unusable, please @sgress454 publish the new version to npm

[2017-08-31 11:33] Fr33maan commented on #16
Well, what I can say from my experience is that sails-hook-autoreload and sails-webpack are compatible under certain conditions which are not clear yet for me.
I initially had this issue but managed to get rid of it.

[The repo with the issue](https://github.com/l1br3/sails-webpack-react) (clone the react branch)
[The repo without the issue](https://github.com/l1br3/sails-webpack-react-2)

[2017-08-31 13:12] Fr33maan commented on #76
Of course it's possible to install it via `npm i -S sgress454/sails-hook-autoreload#master`

[2017-08-31 13:35] Fr33maan commented on #60
I had this issue and successfully fixed it. It was about hooks in .sailsrc if my memory is good. I've got a repo which implements sails/sails-hook-autoreload/sails-webpack with react/redux, hot reloading, rebundling and so on.
It's my starter pack for every sails project I have to do. The config is minimal, you all should find the way to correct this issue by checking your repo against mine.

The

[2017-08-31 13:48] sgress454 commented on #76
@l1br3 The 1.0.0 release has been out for quite some time; that's the Sails 1.0-compatible release.  You can get the Sails v0.12 release with `npm install sails-hook-autoreload@for-sails-12`

[2017-08-31 13:48] #76 closed, assigned to nobody

[2017-08-31 13:50] Fr33maan commented on #76
Ho yes it's my cache fault ! Thanks

[2017-08-31 14:20] sgress454 commented on #75
@murbanowicz Thanks for using Sails!  We've decided to end official support for this hook, as detailed in the [end-of-life notice](https://github.com/sgress454/sails-hook-autoreload#skull-skull-skull-official-end-of-life-notice-skull-skull-skull).  If you're interested in taking over, please contact [@sgress454](@sgress454).

[2017-08-31 14:21] sgress454 commented on #74
@megakoresh  Thanks for using Sails!  We've decided to end official support for this hook, as detailed in the [end-of-life notice](https://github.com/sgress454/sails-hook-autoreload#skull-skull-skull-official-end-of-life-notice-skull-skull-skull).  If you're interested in taking over, please contact [@sgress454](@sgress454).

[2017-08-31 14:21] sgress454 commented on #73
@greggreenhaw  Thanks for using Sails!  We've decided to end official support for this hook, as detailed in the [end-of-life notice](https://github.com/sgress454/sails-hook-autoreload#skull-skull-skull-official-end-of-life-notice-skull-skull-skull).  If you're interested in taking over, please contact [@sgress454](@sgress454).

[2017-08-31 14:22] sgress454 commented on #65
@l1br3 @JHereu @tylercollier Thanks for using Sails!  We've decided to end official support for this hook, as detailed in the [end-of-life notice](https://github.com/sgress454/sails-hook-autoreload#skull-skull-skull-official-end-of-life-notice-skull-skull-skull).  If you're interested in taking over, please contact [@sgress454](@sgress454).

[2017-08-31 14:30] Fr33maan commented on #65
So sad :( there is still so many downloads a day
Thanks for this work on the hook, it's still very important for me.
Which replacement solution do you use ?

[2017-08-31 14:51] sgress454 commented on #65
@l1br3 I appreciate that, and if it works for you, by all means continue.  As fas as replacements, the advent of SDD drives has personally made the ol' `CTRL-C` + `sails lift` combo a lot less painful for me, but [this article](https://coderwall.com/p/njcr7w/sails-js-sick-of-restarting-your-server) has some good steps for getting `forever` to do live reload for you.  Combining that with a local Re

[2017-08-31 23:58] clayrisser commented on #60
I just ended up using nodemod. It's super easy and requires no setup.

https://nodemon.io/

[2017-09-06 11:54] Fr33maan commented on #60
Well, shutdown and restarting the server takes up to 3/4 seconds in my case (webpack because of React). The hook is better.
I've got 2 watchers, one is sails-hook-autoreload which reload the sails app and the other is the webpack watcher wich rebundle my assets and reload the browser.

[2017-09-06 12:01] Fr33maan commented on #65
@sgress454 Does SDD stands for spite development driven ?
Could I be add to the contributor list ? I don't want this hook to die since I'm able to use it as I want to.

[2017-09-06 12:04] Fr33maan commented on #75
I successfully use this hook with babel. You could add [babel-preset-typescript](https://www.npmjs.com/package/babel-preset-typescript) to your `.babelrc` file so every change trigger a transpiling again.

[2017-09-06 12:06] Fr33maan commented on #73
Reproduction repo please

[2017-09-06 13:56] Fr33maan commented on #64
I also experienced this issue while its explicitly said that the hook reloads services

[2017-09-06 13:57] Fr33maan commented on #38
This should be done also with services.
https://github.com/sgress454/sails-hook-autoreload/issues/65

@CiscoKidxx did you successfully understood what we had to change for that ?

[2017-09-06 13:59] Fr33maan commented on #16
Same king of issue there https://github.com/sgress454/sails-hook-autoreload/issues/60

[2017-09-06 14:01] Fr33maan commented on #63
@outofthisworld Could you provide a repo which reproduce the bug ?

[2017-09-06 14:03] Fr33maan commented on #65
@sgress454 thanks for the quick add to contributor list. I will try to keep this one alive

[2017-09-06 14:09] Fr33maan commented on #74
Sorry for this one but I won't dive so deeply in the hook. If you absolutely want to use this configuration with the hook then feel free to PR.

[2017-09-06 14:09] #74 closed, assigned to nobody

[2017-09-06 14:13] Fr33maan opened #77 "npm collaborator list"
@sgress454 While we are in the "finding maintainers" process, could you add [me](https://www.npmjs.com/~prisonier) to the collaborator list please ?
Thanks in advance

[2017-09-06 14:20] Fr33maan commented on #64
This hook apparently do the trick but looks inactive.
I'm going to see what can I do
https://github.com/clonn/sails-hook-autoreload-extend

[2017-09-06 14:28] sgress454 commented on #77
@l1br3 Let's keep the ownership with me for the time being.  Just ping me when you need a release so I can take a look.  After a few successful releases we can talk about adding you as a maintainer on the package.  Thanks!

[2017-09-06 14:28] #77 closed, assigned to nobody

[2017-09-06 14:28] Fr33maan commented on #77
sounds perfect !

[2017-09-22 07:39] jhereu opened #78 "'collections' of undefined at sails-postgresql adapter"
Hi,

We have a Sails app running with a `sails-postgresql` adapter. Since we installed `sails-hook-autoreload@for-sails-0.12` we ran into some compatibility issues between them. We have a `config/autoreload.js` file with the following content:

[code]
The `overrideMigrateSetting` is set to false, as we don't want the tables to be created again and so on. when we modify whichever file of the list,

[2017-09-22 07:45] jhereu commented on #78
Ok, same issue as #60, sorry.

[2017-09-22 07:45] #78 closed, assigned to nobody

[2017-10-02 13:21] Fr33maan opened #80 "Push last version to npm"
@sgress454 Hi, could you please push last 0.12 version to npm ?
Thanks !

[2017-10-02 13:23] Fr33maan opened #81 "[1.0.0] Can't reload policies as in 0.12"
I don't understand how to reload policies. `sails.hooks.policies.initialize(cb)` will duplicate policies instead of replacing them.
`router.flush()` does not seems to help.

I posted a message on gitter:

If I simple do sails.hooks.policies.initialize(), policies get duplicated in sails@1.
If I edit the sails.config.policies array nothing happens when I hit the route. I think that policies are dir

[2017-10-02 13:53] sgress454 commented on #80
@l1br3 Done!

[2017-10-02 13:53] #80 closed, assigned to nobody

[2017-10-02 14:08] Fr33maan commented on #80
@sgress454 GG !

[2017-10-02 14:12] Fr33maan commented on #81
@sgress454 Maybe you have a spontaneous answer ? :D

[2017-10-02 16:46] sgress454 commented on #81
@l1br3 I'm afraid not.  Policies in Sails 1.0 are implement as [action middleware](http://next.sailsjs.com/documentation/reference/application/advanced-usage/sails-register-action-middleware), and there's currently no mechanism for reloading the set of loaded action middleware.  The only thing you could do is set `sails._actionMiddleware = [];` to clear out the current set, which might work, but i

[2017-10-02 17:03] Fr33maan commented on #81
@sgress454 That's a radical change.
But maybe the solution to add policies with hooks ? I need it for my [sails-role-permissions hook](https://github.com/l1br3/sails-role-permissions)

[2017-10-02 17:06] Fr33maan commented on #81
@sgress454 Maybe I could list user's hooks to reload them once action middleware has been flushed ?

[2017-10-25 14:49] Fr33maan opened #83 "Release 1.1.0 on npm"
@sgress454 could you push master to npm please ? :)

[2017-11-14 09:27] NguyenAnX opened #84 "Autoreload failed. Got Error: Callback was already called"
Every time Autoreload happens,  Sails auto-migration will run but I got following error:

[code]

[2017-11-14 09:30] Fr33maan commented on #84
What is "Sails auto-migration" ? Is it a package ?
Be aware that `sails-hook-autoreload` is incompatible with a lot of packages.

[2017-11-14 09:33] NguyenAnX commented on #84
Auto-migration here https://sailsjs.com/documentation/concepts/models-and-orm/model-settings

[2017-11-14 10:06] Fr33maan commented on #84
This should work without trouble. Please, provide a reproduction repo with minimal setup.

[2017-11-21 15:46] erzzo commented on #84
same issue here. I have a fresh new project, this is my package.json:

[code]

[2017-12-07 15:40] gleam-ru commented on #84
@l1br3
here is a minimal example as you asked:
https://github.com/gleam-ru/autoreload-issue

Steps to reproduce:
[code]

Issue dissappears if you drop `api/models/Model.js` file.

[2017-12-13 15:07] sgress454 commented on #83
(done on 10/25)

[2017-12-13 15:07] #83 closed, assigned to nobody

[2017-12-19 12:44] Fr33maan commented on #84
Thanks @gleam-ru I'm going to have a look. As I don't use sails 1.x for now I didn't dive into this earlier. If you succeed making a FIX, don't hesitate to PR or share it here.

[2017-12-19 14:15] magiksd commented on #84
Hello, I have updated my dependencies and now I have the same issue. After some search, I found that the "async" module have [breaking changes in its v2.0.0](https://github.com/caolan/async/blob/master/CHANGELOG.md#breaking-changes), and it seems to match this issue :

"Calling a callback more than once is considered an error, and an error will be thrown. This had an explicit breaking change in wa

[2018-02-07 16:27] Tinostarn commented on #84
Same thing here, with a fresh Sails 1.0 generated project
I uninstall sails-hook-autoreload until a fix is available :)

[2018-03-01 14:04] magiksd commented on #84
No update on this blocking issue since months, it seems this project is dead like Sails.js, sad...

[2018-03-01 17:54] Fr33maan commented on #84
Sorry I didn't take the time to solve it.

Le 1 mars 2018 15:04, "Zeex" <notifications@github.com> a écrit :

[2018-04-09 11:15] lvsjack commented on #84
+1

[2018-04-17 12:10] oesile commented on #84
+1

[2018-04-20 09:12] rock1246 commented on #84
+1

[2018-04-22 17:00] l132a commented on #84
waiting...

[2018-04-22 17:08] Fr33maan commented on #84
I'm so busy dudes. I understand its blocking for you but money comes before
open source and Im sure all of you understand that.

As we have the reproduction repo, maybe one of you who getting the error
can make some research and try to fix the bug.

As soon as someone has a fix I can merge PR and ask repo owner to publish
on npm.

Im really sorry and I really would like to magically solve this one

[2018-04-25 10:51] Jakevin commented on #84
+1

[2018-04-28 11:48] foobic commented on #84
+1

[2018-05-07 11:55] nino-vrijman commented on #84
+1

[2018-05-30 12:04] Wisperus commented on #84
In './config/models.js' file I add ''

`module.exports.models = { archiveModelIdentity: false }`
[https://sailsjs.com/documentation/reference/configuration/sails-config-models](url)
It work for me!

[2018-05-30 12:11] magiksd commented on #84
@Wisperus thanks, nice workaround while waiting for a fix

[2018-06-08 18:34] siderlan opened #85 "Possible incompatibility with sails-postgresql"
Hi,

I'm using sails 1.0.2 and sails-postgresql 1.0.1. So when it tries to reload the server an exception has been thrown in module parley/lib/private/Deferred.js:313 with the following stack trace:

Error: Callback was already called.
    at /my-project/node_modules/async/dist/async.js:844:36
    at /my-project/sails-hook-orm/lib/initialize.js:457:27
    at /my-project/node_modules/sails-hook-orm

[2018-06-20 12:05] tikijian commented on #85
+1

[2018-07-03 19:30] vpiskunov commented on #84
Any update on a fix? Would be great to not disable archiveModel 🤔

[2018-07-20 18:33] sadi304 commented on #84
temporary do,

` archiveModelIdentity: false`

in model config

[2018-07-26 12:43] fsinisi90 commented on #84
The `archiveModelIdentity: false` worked for me too! It would be great if this can be resolved anyway.

[2018-08-22 23:40] prcs commented on #85
MySQL too

[2018-10-19 22:58] elesdoar commented on #85
This is partial solution, but for fix it, disable `archiveModelIdentity` model setting.

https://sailsjs.com/documentation/reference/configuration/sails-config-models

[2018-10-24 08:01] umeshp7 commented on #60
Failed to reinitialize ORM because the `initialize()` method of the ORM hook returned an error.
Details:
userError: The attribute `flow_screens` on the `flow_screens__screen_flows` model is an association but also specifies a type property. This is not needed and will be automatically determined.

I am facing this issue. I haven't specified any type property for the association that I have created

[2018-12-13 02:47] Fr33maan commented on #84
Did someone found a fix for this one ? The problem looks to be located in waterline so we need another way to reload ORM otherwise the callback is called more than once.

[2018-12-30 13:16] codeinearts commented on #84
also worked for me using the actual sails 1.0 version.

Anyway, for those stumbling upon the same question o similar scenario of mine:

I wanted to use the `sails` command (eg., `sails console --drop`) along with the automatic reload, so I could test changes in waterline models right away after ctrl+save them.

You can use nodemon directly with the sails binary, using the normal argumments that yo

[2018-12-30 14:04] Fr33maan commented on #84
I updated the readme to document that bug.

[2018-12-31 17:55] chintan13 opened #86 "Change in api/helpers function reload not working"
I have one sample function in api/helpers which returns just simple text message.

It seems sails.hooks.helpers.reload is not reloading properly.

I would love to contribute to this repo also, just need some suggestion where to look for it.

[2019-01-01 05:05] Fr33maan commented on #86
Hi @chintan13 what version of sails do you use ?

I must say that the easiest solution to mess with the code is to directly update the index.js file which is in your node_modules folder.

It's quite complicated to understand what happen because that hook use hacky solutions.

I'm not the developer of the hook but if I can help you I will be happy to do it.

[2019-01-01 05:59] codeinearts commented on #84
@l1br3
Thanks, for those arriving here for a solution will means a lot. :+1:

[2019-01-01 06:04] Fr33maan commented on #84
Does anyone know what the `archiveModelIdentity` setting is for ?

[2019-02-01 17:29] yurks commented on #86
try this https://github.com/sgress454/sails-hook-autoreload/pull/87

[2019-02-01 21:45] stretchnate opened #88 "Is there a better/another option?"
Since support for this hook has ended does that mean there is a better option available? if so what? I'm new to sails and looking for a solution to autoreload my api files since restarting the app each time (even with great libraries like nodemon) is a little slower than I'd like it to be.

[2019-02-09 10:23] ncc0706 opened #89 "win10os sails.js 1.1.0 not work."
**package.json**
[code]
**error**
[code]

[2019-02-09 10:33] ncc0706 commented on #89
config/models.js add ``archiveModelIdentity: false``

[2019-02-09 10:33] #89 closed, assigned to nobody

[2019-02-16 15:50] andyngdz commented on #84
Hi @l1br3 ,

The `archiveModelIdentity`:

The identity of the model to use when calling .archive(). By default, this is the Archive model, an implicit model automatically defined by Sails/Waterline. Set to false to disable built-in support for soft-deletes.

[2019-04-28 12:29] robinson90 opened #90 "can this work for assets resource updates"